<%#  Listing of all Opportunities here %>
<%#  Using @orgs here %>


<% @orgs.each do |item| %>

<p><a href="/orgs/<%=item.id%>"> <%= item.name %> </a>
  <%= link_to like_org_path(item), method: :put do %>
    Upvotes
    <%= item.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_org_path(item), method: :put do %>
    Downvote
    <%= item.get_downvotes.size %>
  <% end %>
</p>



<% end %>
