<%#  Single opportunity page %>
<%#  Using @org here %>

<p><%= @org.name %> </p>
<p> Mission Statement : <%= @org.summary %> </p>
<p> Address : <%= @org.address %> </p>
<p> Website : <a href ='<%= @org.website %>'><%= @org.website %></a> </p>
