<%#  Single opportunity page %>
<%#  Using @org here %>


	<div class="card border-warning">
		<div class="card-body">
		  <div class="row">
		        <div class="card-header w-100"><%= @org.name%></div>
            <div class="card-body">
              <h5 class="card-title"><%= @org.name%></h5>
              <p class="card-text">
          <%= render "orgs/likes" %>
              </p>
              <p class="card-text">Mission Statement : <%= @org.summary %></p>
              <p class="card-text">Address : <%= @org.address %></p>
              <p class="card-text">Website : <a href ='<%= @org.website %>'><%= @org.website %></a></p>
            </div>
          </div>
  </div>
</div>
<hr>


<h3>Current Opportunities</h3> 

      <div class="row">
      <% @org_opps.each do |item| %>
                      <div class="col-md-6">
                        <div class="card border-warning bg-light mb-3">
                                <div class="card-header"><%= item.title.truncate(35) %><br>
                                <sub class="card-title"><%= item.start_date.strftime("%B %d, %Y") %> - <%= item.end_date.strftime("%B %d, %Y") %></sub>
                                </div>
                                <div class="card-body text-muted">
                                  <p class="card-text"><%= item.summary.truncate(100) %> </a> </p>
                                  
                                  <sub>id:  <%= item.id %>, <%= link_to "More info", opp_path(item.id) %></a></sub>
                                    </div>
                                  
                                </div>
                      </div>
  <% end %>
</div>
