<%#  Listing of all organizations here %>
<%#  Using @orgs here %>

<% @opps.each_with_index do |item, index| %>
    <p> <%= index +1 %> <p>
   <p>Title: <%= item.title %></p>
   <p>Description: <%= item.summary %></p>
   <p>Dates : <%= item.start_date.strftime("%B %d, %Y") %> - <%= item.end_date.strftime("%B %d, %Y") %> </p>
   

   <p>Organization : <%= Org.find(item.org_id).name %></p>
    <%= link_to 'more info', {controller: "orgs", :action => 'show', :id => item.org_id} -%>

<% end %>


