<%#  Single organization profile page %>
<%#  Using @opp here %>


<h3><b>Opportunity Information</b></h3>
<div class="card border-warning">
  <div class="card-body">
    <div class="row">
      <div class="card-header w-100"><span><b><%= @opp.title %></b></span><br>
        <sub class="card-title"><b>Dates:</b> <%= @opp.start_date.strftime("%B %d, %Y") %>
          - <%= @opp.end_date.strftime("%B %d, %Y") %></sub>
      </div>
      <div class="card-body">
        <p class="card-text">
        <p><b>Description:</b> <%= @opp.summary %></p>
        <p class="card-text"><b>Volunteer(s) needed:</b> <%= @opp.vol_request %></p>
        <p class="card-text"><b>Ongoing:</b>
          <% if @opp.recurrence %>
            YES
          <% else %>
            NO</a>
          <% end %>
        </p>
        <p class="card-text"><b>Location:</b> <%= @opp.location %></p>
        <p class="card-footer"><b>Requirements:</b> <%= sanitize @opp.requirement %></p>
        <p>
          <% link_to 'blah', fave_opp_path(@opp), method: :put %>
      </div>
    </div>
  </div>
</div>


<%# if current_user %>
  <%# if !current_user.liked? @org %>

    <%#= link_to like_org_path(@org), method: :put do %>
      <%#= octicon "heart" %>
      <%#= @org.get_likes.size %>
<!--      Likes-->
    <%# end %>
  <%# else %>

    <%#= link_to unlike_org_path(@org), method: :put do %>
      <%#= octicon "heart" %>
      <%#= @org.get_likes.size %>
<!--      Likes-->
    <%# end %>
  <%# end %>
<%# end %>
