<!DOCTYPE html>
<html>
  <head>
    <title>OrcaTribe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%# IB : see _alerts.html.erb to style alerts  %>
     <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
